@import '../../bedrock/scss/variables';
@import 'variables';

:host {
  display: flex;
  flex-basis: $header-height;
  background: $header-background;
  flex-wrap: nowrap;
  width: 100%;

  @media (min-width: $screen-phone + 1) {
    // flex-wrap: nowrap;
  }
}

.group {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
  height: $header-height;
  flex-shrink: 0;

  &__logo {
    @extend .group;
    flex-shrink: 1;
  }

  &__right {
    @extend .group;
    flex-grow: 1;
    justify-content: flex-end;
  }
}


.item {
  display: flex;
  align-items: stretch;
  height: $header-height;

  &__logo {
    @extend .item;

    .btn {
      flex-shrink: 1;
    }

    img {
      display: block;
      max-width: 100%;
      max-height: $header-height - 16;
    }
  }

  &__search {
    @extend .item;
    display: none;

    @media (min-width: $screen-desktop) {
      display: flex;
      flex-grow: 1;
      align-items: center;
      max-width: 600px;
      padding: 0 1rem;
    }

    input[type="text"] {
      width: 100%;
      height: $header-height - 16;
      line-height: $header-height - 16;
      padding: 0;
      text-indent: 1rem;
      font-size: 1rem;
      border-radius: 2px;
      border: $input-border-width solid $input-border-color;
      background: $input-backgroung-color;
      box-shadow: none;
      transition: $transition;

      &:hover {
        border-color: $input-border-color-hover;
        background: $input-backgroung-color-hover;
      }
      &:focus {
        outline: none;
        border-color: $input-border-color-focus;
        background: $input-backgroung-color-focus;
      }
    }
  }
}


.btn {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  min-width: 56px;
  padding: 0 1rem;
  color: $header-link-color;
  color: $header-link-color;
  text-decoration: none;
  appearance: none;
  cursor: pointer;
  background: none;
  border: none;

  &:hover {
    color: darken( $header-link-color, 40% );
    background: rgba(black, 0.1);
    text-decoration: none;
  }

}

.btn-icon {
  fill: currentColor;
}

.btn-text {
  margin-left: 6px;
}

